.hand-card {
    display: grid;
    gap: .1rem;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 .5rem;

    .card {
        grid-column: 1/3;
    }

    &--valid {
        color: $green;
        font-family: $font-picto;
        font-size: 1.15rem;
        transition-property: box-shadow, color;
        transition-duration: .3s;

        &:hover {
            color: hsl(120, 100%, 57%);
            text-shadow: 0 0 5px $green;
        }
    }
    &--cancel {
        color: $red;
        font-family: $font-picto;
        transition-property: box-shadow, color;
        transition-duration: .3s;

        &:hover {
            color: hsl(10, 100%, 87%);
            text-shadow: 0 0 5px hsl(0, 100%, 50%);
        }
    }

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}