.player {
    border-radius: .5rem;
    margin: 0;
    padding: .5rem;
    &.active {
        background: $second;
    }
    &--name {
        margin-bottom: .25rem;
    }
    &--hand {
        display: flex;
        justify-content: space-between;
        margin: .25rem 0 0;
    }
    &--value-container {
        display: flex;
        justify-content: space-between;
        margin: .25rem 0;
    }
    &--color-container {
        display: flex;
        justify-content: space-between;
        margin: .25rem 0;
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
    .player {
        margin: .5rem;
        padding: 1rem;
    }
}
@media screen and (max-width:500px) {
    .player {
    }
}